ul.turn-page,
ul.turn-page li{
    margin: 0;
    padding: 0;
}
ul.turn-page > li{
    float: left;
    list-style: none;
    padding:10px;
    border: 1px solid #ddd;
    color: #666;
    margin-right: 10px;
    cursor: pointer;
}
ul.turn-page > li.current-page{
    background-color: #428bca;
    color: #fff;
}
.turn-page > span{
    float: left;
    padding: 10px;
    margin-right: 10px;
}